:root{
    --color1: #217400;
    --color2: #b6f081;
    --color3: #2b4911;
    --color4: #15420354;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color1);
}

main{
    margin-top: 100px;
}


header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--color3);

    top: 0;
    position: fixed;
    width: 100%;
}

.navbar{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    display: flex;
    gap: 50px;
    list-style: none;

}

.logo-container{
    padding: 20px;
    width: 25%;
    display: flex;
    justify-content: center;
}




.logo{
    font-family: 'Playwrite US Trad', sans-serif;
    color: white;
    padding: 15px;
    background-color: var(--color1);
    border-radius: 100%;
    font-size: 15px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: white;
    font-weight:800;
    font-size: 16px;
    transition: background-color 0.3s, ease-in-out;
}

a:hover{
color: var(--color2);
}

.a-section-2{
    color: var(--color2);
    font-size: 20px;
    font-weight: 300;
    text-decoration: underline;
}

h6{
    color: white;
    font-size: 20px;
}


.dropdown-content{
    display: none;
    padding: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown:hover .dropdown-content{
    display: grid;
    position: absolute;
    gap: 5px;
    background-color: var(--color3);
    border: 5px solid var(--color1);
    transition: 3s smooth;


}

h1{
    font-size: 40px;
    color: white;
    margin: 60px;
}

h2{
    font-size: 30px;
    color: white;
}

.section-1{
    display: flex;
    align-items: center;
    height: 300px;
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url(../assets/orquidea.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.section-2{
    display: grid;
    margin: 60px;
    width: 70%;
}

.p1{
    display: grid;
    gap: 5px;
}

#p2{
    margin-top: 45px;
}

#p3{
    margin-top: 45px;
}



p{
    font-size: 22px;
    color: white;
    background-color: var(--color4);
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
    padding: 10px;
    margin-top: 15px;

}

img{
    width: 25px;
}

footer{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: var(--color3);
    padding-top: 40px;
}

.red{
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-footer{
    font-family: 'Playwrite US Trad', sans-serif;
    color: white;
    padding: 15px;
    background-color: var(--color1);
    border-radius: 100%;
    font-size: 13px;
    font-weight: 500;
    margin: 60px;
}



.copy{
    color: white;
    font-size: 15px;
    margin: 40px;

}
